@charset "UTF-8";

/* http-url:https://cdn.jsdelivr.net/npm/sanitize.css */
*,
::after,
::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}
:where(:root) {
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
:where(body) {
  margin: 0;
}
:where(h1) {
  font-size: 2em;
  margin: .67em 0;
}
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}
:where(hr) {
  color: inherit;
  height: 0;
}
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}
:where(navli)::before {
  content: "\200b";
  float: left;
}
:where(pre) {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}
:where(b, strong) {
  font-weight: bolder;
}
:where(code, kbd, samp) {
  font-family: monospace, monospace;
  font-size: 1em;
}
:where(small) {
  font-size: 80%;
}
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}
:where(iframe) {
  border-style: none;
}
:where(svg:not([fill])) {
  fill: currentColor;
}
:where(table) {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}
:where(button, input, select) {
  margin: 0;
}
:where(button, [type=button i], [type=reset i], [type=submit i]) {
  -webkit-appearance: button;
}
:where(fieldset) {
  border: 1px solid #a0a0a0;
}
:where(progress) {
  vertical-align: baseline;
}
:where(textarea) {
  margin: 0;
  resize: vertical;
}
:where([type=search i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
:where(dialog) {
  background-color: #fff;
  border: solid;
  color: #000;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}
:where(dialog:not([open])) {
  display: none;
}
:where(details>summary:first-of-type) {
  display: list-item;
}
:where([aria-busy=true i]) {
  cursor: progress;
}
:where([aria-controls]) {
  cursor: pointer;
}
:where([aria-disabled=true i], [disabled]) {
  cursor: not-allowed;
}
:where([aria-hidden=false i][hidden]) {
  display: initial;
}
:where([aria-hidden=false i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* http-url:https://cdn.jsdelivr.net/npm/highlight.js@11.6.0/styles/github.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: #24292e;
  background: #fff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: 700;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: 700;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

/* _src/style.css */
@media (prefers-color-scheme: dark) {
  .hljs {
    color: #c9d1d9;
    background: #0d1117;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #ff7b72;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #d2a8ff;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #79c0ff;
  }
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #a5d6ff;
  }
  .hljs-built_in,
  .hljs-symbol {
    color: #ffa657;
  }
  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #8b949e;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #7ee787;
  }
  .hljs-subst {
    color: #c9d1d9;
  }
  .hljs-section {
    color: #1f6feb;
    font-weight: 700;
  }
  .hljs-bullet {
    color: #f2cc60;
  }
  .hljs-emphasis {
    color: #c9d1d9;
    font-style: italic;
  }
  .hljs-strong {
    color: #c9d1d9;
    font-weight: 700;
  }
  .hljs-addition {
    color: #aff5b4;
    background-color: #033a16;
  }
  .hljs-deletion {
    color: #ffdcd7;
    background-color: #67060c;
  }
}
:root {
  --title-color: #0d1117;
  --link-color: #0057ab;
  --link-bg-color: #deefff;
  --text-color: rgba(0, 0, 0, 0.8);
  --bg-color: #fff;
  --gray-color: #79828b;
  --pre-color: rgba(0, 0, 0, 0.05);
}
@media (prefers-color-scheme: dark) {
  :root {
    --title-color: #dddddc;
    --link-color: #79c0ff;
    --link-bg-color: #263441;
    --text-color: rgba(255, 255, 255, 0.8);
    --bg-color: #0d1117;
    --gray-color: #747d86;
    --pre-color: rgba(255, 255, 255, 0.05);
  }
}
@font-face {
  font-family: "Chinese Quotes";
  src:
    local("PingFang SC Regular"),
    local("PingFang SC"),
    local("SimHei"),
    local("Source Han Sans SC");
  unicode-range:
    U+2018,
    U+2019,
    U+201C,
    U+201D;
}
html {
  font-family:
    "Chinese Quotes",
    "Inter var",
    "Inter",
    ui-sans-serif,
    system-ui,
    "Segoe UI",
    "Roboto",
    "Ubuntu",
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    "Cascadia Mono",
    "Consolas",
    "Roboto Mono",
    "Ubuntu Monospace",
    "Noto Mono",
    monospace,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 90%;
}
body {
  margin: auto;
  padding: 2ch;
  max-width: 70ch;
  color: var(--text-color, black);
  background-color: var(--bg-color, white);
  line-height: 1.58;
}
@property --offset { syntax: "<length>"; inherits: false; initial-value: 0; }
a {
  color: var(--link-color, black);
  text-decoration: underline solid;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: var(--offset, 0.1em);
  transition: text-decoration-color 0.2s, --offset 0.2s;
  position: relative;
}
a::before {
  content: "";
  position: absolute;
  top: 0.5em;
  bottom: 0;
  left: 4px;
  right: -4px;
  z-index: -1;
  background-color: var(--link-bg-color, #deefff);
}
a:hover {
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration-color: var(--link-color, black);
  --offset: 0.2em;
}
@supports not (background: paint(something)) {
  a {
    transition: text-decoration-color 0.2s, text-underline-offset 0.2s;
  }
  a:hover,
  a:focus {
    text-underline-offset: 0.2em;
  }
}
h1,
h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin: 21px 0 12px;
  color: var(--title-color, black);
}
h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 2rem 0 1rem;
  color: var(--title-color, black);
}
h4 {
  font-size: 20px;
  line-height: 22px;
  margin: 1.6rem 0 0.6rem;
  color: var(--title-color, black);
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
:is(h2, h3, h4, a[href^="p/"]) > code::before,
:is(h2, h3, h4, a[href^="p/"]) > code::after {
  content: "`";
}
:is(h2, h3, h4, a[href^="p/"]) > code {
  background: var(--pre-color, silver);
}
footer {
  padding: 2ch 0;
  color: var(--gray-color);
  position: sticky;
  top: 100vh;
  font-variant-numeric: tabular-nums;
}
address {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: var(--gray-color, gray);
  margin-bottom: 14px;
  font-variant-numeric: tabular-nums;
}
p {
  margin: 0 0 9px;
  line-height: 1.75;
}
blockquote {
  margin: 0 0 14px;
  padding: 1ch 2ch;
  border-radius: 0.5em;
  background-color: var(--pre-color, silver);
  font-size: 90%;
}
blockquote > *:last-child {
  margin: 0;
}
pre {
  margin: 1em -16px;
  background-color: var(--pre-color, silver);
  overflow: visible;
}
@media (max-width: 66ch) {
  pre {
    overflow-x: auto;
  }
}
pre code {
  display: block;
  padding: 1ch 16px;
}
pre[class*=language-],
code[class*=language-] {
  color: #24292e;
  background: #fff;
}
pre:has([class*="language-"]) {
  color: #24292e;
  background: #fff;
}
@media (prefers-color-scheme: dark) {
  pre[class*=language-],
  code[class*=language-] {
    color: #c9d1d9;
    background: #0d1117;
  }
  pre:has([class*="language-"]) {
    color: #c9d1d9;
    background: #0d1117;
  }
}
p > code[class*=language-] {
  padding: 2px 4px;
}
ins {
  text-decoration: none;
  border-bottom: 1px solid;
}
hr {
  margin: 22px 33%;
  border: 0;
  border-top: 1px solid currentColor;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
th,
td {
  padding: 6px 13px;
}
.footnotes {
  font-size: 12px;
  color: var(--gray-color);
  border-top: 1px solid currentColor;
}
.footnotes ol {
  padding-left: 16px;
}
.footnotes li {
  position: relative;
}
.footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid var(--text-color);
  border-radius: 6px;
}
.footnotes li:target {
  color: var(--text-color);
}
.footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}
.half-shrink-left {
  margin-left: -0.5em;
}
.half-shrink-right {
  margin-right: -0.5em;
}
.home a,
footer a {
  color: inherit;
}
.home a::before,
footer a::before {
  background-color: transparent;
}
.home a:hover,
.home a:focus,
footer a:hover,
footer a:focus {
  text-decoration-color: inherit;
}
.toys dt:not(:first-child) {
  padding-top: 0.8rem;
}
.toys dd {
  color: var(--gray-color);
  font-size: 0.875rem;
  margin-inline-start: 0;
}
@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}
.post > * {
  --stagger: 0;
  --delay: 90ms;
  --start: 0ms;
  animation: none;
}
@media (prefers-reduced-motion: no-preference) {
  .post > * {
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
  }
}
.post > *:nth-child(1) {
  --stagger: 1;
}
.post > *:nth-child(2) {
  --stagger: 2;
}
.post > *:nth-child(3) {
  --stagger: 3;
}
.post > *:nth-child(4) {
  --stagger: 4;
}
.post > *:nth-child(5) {
  --stagger: 5;
}
.post > *:nth-child(6) {
  --stagger: 6;
}
.post > *:nth-child(7) {
  --stagger: 7;
}
.post > *:nth-child(8) {
  --stagger: 8;
}
.post > *:nth-child(9) {
  --stagger: 9;
}
.post > *:nth-child(10) {
  --stagger: 10;
}
.post > *:nth-child(11) {
  --stagger: 11;
}
.post > *:nth-child(12) {
  --stagger: 12;
}
.post > *:nth-child(13) {
  --stagger: 13;
}
.post > *:nth-child(14) {
  --stagger: 14;
}
.post > *:nth-child(15) {
  --stagger: 15;
}
.post > *:nth-child(16) {
  --stagger: 16;
}
.post > *:nth-child(17) {
  --stagger: 17;
}
.post > *:nth-child(18) {
  --stagger: 18;
}
.post > *:nth-child(19) {
  --stagger: 19;
}
.post > *:nth-child(20) {
  --stagger: 20;
}
