@charset "UTF-8";
@import "https://cdn.jsdelivr.net/npm/modern-normalize";

:root {
    --text-color: rgba(0, 0, 0, 0.8);
    --bg-color: white;
    --gray-color: #79828b;
    --underline-color: rgba(0, 0, 0, 0.7);
    --pre-color: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgba(255, 255, 255, 0.8);
        --bg-color: #111111;
        --gray-color: #747d86;
        --underline-color: rgba(255, 255, 255, 0.78);
        --pre-color: rgba(255, 255, 255, 0.05);
    }
}

body {
    margin: auto;
    padding: 2ch;
    max-width: 70ch;
    color: var(--text-color, black);
    background-color: var(--bg-color, white);
    line-height: 1.58;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0.1em solid var(--underline-color, gray);
}

h1,
h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin: 21px 0 12px;
}

h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    margin: 18px 0 9px;
}

h4 {
    font-size: 20px;
    line-height: 22px;
    margin: 18px 0 7px;
}

address {
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: var(--gray-color, gray);
    margin-bottom: 14px;
}

p {
    margin: 0 0 9px;
}

blockquote {
    margin: 0 0 14px;
    padding: 2ch;
    border-radius: .5em;
    background-color: var(--pre-color, darkgray);
}

pre {
    margin: 1em -2ch;
    padding: 1ch 2ch;
    background-color: var(--pre-color, darkgray);
    overflow-x: auto;
    font-size: 0.9em;
}

pre[class*="language-"],
code[class*="language-"] {
    color: #eee;
    background-color: #343d46;
}

p > code[class*="language-"] {
    padding: 2px 4px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: hsl(221, 12%, 69%);
}

.token.punctuation {
    color: white;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: hsl(32, 93%, 66%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: hsl(114, 31%, 68%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: hsl(13, 93%, 66%);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: hsl(300, 30%, 68%);
}

.token.function,
.token.class-name {
    color: hsl(180, 36%, 54%);
}

.token.regex,
.token.important,
.token.variable {
    color: hsl(210, 50%, 60%);
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.mt0 { margin-top: 0 }
