@charset "UTF-8";
@import "sanitize.css";
@import "highlight.js/styles/github.css";
@import "./hljs-dark.css";

:root {
  --text-color: rgba(0, 0, 0, 0.8);
  --bg-color: #fff;
  --gray-color: #79828b;
  --underline-color: rgba(0, 0, 0, 0.7);
  --pre-color: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.8);
    --bg-color: #0d1117;
    --gray-color: #747d86;
    --underline-color: rgba(255, 255, 255, 0.78);
    --pre-color: rgba(255, 255, 255, 0.05);
  }
}

html {
  font-family: system-ui, "Segoe UI", "Roboto", "Ubuntu", "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, "Cascadia Mono", "Consolas", "Roboto Mono",
    "Ubuntu Monospace", "Noto Mono", monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 90%;
}

html,
body {
  height: 100%;
}

body {
  margin: auto;
  padding: 2ch;
  max-width: 70ch;
  color: var(--text-color, black);
  background-color: var(--bg-color, white);
  line-height: 1.58;
}

a {
  color: inherit;
  text-decoration: underline solid var(--underline-color, gray);
}

h1,
h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin: 21px 0 12px;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 18px 0 9px;
}

h4 {
  font-size: 20px;
  line-height: 22px;
  margin: 18px 0 7px;
}

footer {
  padding: 2ch 0;
  color: var(--gray-color);
  position: sticky;
  top: 100vh;
  font-variant-numeric: tabular-nums;
}

footer a {
  text-decoration: none;
}

address {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: var(--gray-color, gray);
  margin-bottom: 14px;
  font-variant-numeric: tabular-nums;
}

p {
  margin: 0 0 9px;
}

blockquote {
  margin: 0 0 14px;
  padding: 1ch 2ch;
  border-radius: 0.5em;
  background-color: var(--pre-color, darkgray);
  font-size: 90%;
}

blockquote > *:last-child {
  margin: 0;
}

pre {
  margin: 1em 0;
  background-color: var(--pre-color, darkgray);
  overflow-x: auto;
}

pre code[class*="language-"] {
  display: block;
  padding: 1ch 0;
}

pre[class*="language-"],
code[class*="language-"] {
  color: #24292e;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  pre[class*="language-"],
  code[class*="language-"] {
    color: #c9d1d9;
    background: #0d1117;
  }
}

p > code[class*="language-"] {
  padding: 2px 4px;
}

ins {
  text-decoration: none;
  border-bottom: 1px solid;
}

hr {
  margin: 22px 33%;
  border: 0;
  border-top: 1px solid currentColor;
}

/* modifiers */
.half-shrink-left {
  margin-left: -0.5em;
}

.half-shrink-right {
  margin-right: -0.5em;
}
