@charset "UTF-8";
@import 'sanitize.css';
@import 'highlight.js/styles/github.css';

:root {
  --text-color: rgba(0, 0, 0, 0.8);
  --bg-color: #fff;
  --gray-color: #79828b;
  --underline-color: rgba(0, 0, 0, 0.7);
  --pre-color: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.8);
    --bg-color: #0d1117;
    --gray-color: #747d86;
    --underline-color: rgba(255, 255, 255, 0.78);
    --pre-color: rgba(255, 255, 255, 0.05);
  }

  /* highlight.js/styles/github-dark.css */
  .hljs {
    color: #c9d1d9;
    background: #0d1117;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #ff7b72;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #d2a8ff;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #79c0ff;
  }
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #a5d6ff;
  }
  .hljs-built_in,
  .hljs-symbol {
    color: #ffa657;
  }
  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #8b949e;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #7ee787;
  }
  .hljs-subst {
    color: #c9d1d9;
  }
  .hljs-section {
    color: #1f6feb;
    font-weight: 700;
  }
  .hljs-bullet {
    color: #f2cc60;
  }
  .hljs-emphasis {
    color: #c9d1d9;
    font-style: italic;
  }
  .hljs-strong {
    color: #c9d1d9;
    font-weight: 700;
  }
  .hljs-addition {
    color: #aff5b4;
    background-color: #033a16;
  }
  .hljs-deletion {
    color: #ffdcd7;
    background-color: #67060c;
  }
}

html {
  font-family: system-ui, 'Segoe UI', 'Roboto', 'Ubuntu', 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, 'Cascadia Mono', 'Consolas', 'Roboto Mono',
    'Ubuntu Monospace', 'Noto Mono', monospace, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 90%;
}

html,
body {
  height: 100%;
}

body {
  margin: auto;
  padding: 2ch;
  max-width: 70ch;
  color: var(--text-color, black);
  background-color: var(--bg-color, white);
  line-height: 1.58;
}

a {
  color: inherit;
  text-decoration: underline solid var(--underline-color, gray);
}

h1,
h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin: 21px 0 12px;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 18px 0 9px;
}

h4 {
  font-size: 20px;
  line-height: 22px;
  margin: 18px 0 7px;
}

footer {
  padding: 2ch 0;
  color: var(--gray-color);
  position: sticky;
  top: 100vh;
  font-variant-numeric: tabular-nums;
}

footer a {
  text-decoration: none;
}

address {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: var(--gray-color, gray);
  margin-bottom: 14px;
  font-variant-numeric: tabular-nums;
}

p {
  margin: 0 0 9px;
}

blockquote {
  margin: 0 0 14px;
  padding: 2ch;
  border-radius: 0.5em;
  background-color: var(--pre-color, darkgray);
}

pre {
  margin: 1em -2ch;
  background-color: var(--pre-color, darkgray);
  overflow-x: auto;
  font-size: 0.9em;
}

pre code.hljs {
  padding: 1ch 2ch;
}

pre[class*='language-'],
code[class*='language-'] {
  color: #24292e;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  pre[class*='language-'],
  code[class*='language-'] {
    color: #c9d1d9;
    background: #0d1117;
  }
}

p > code[class*='language-'] {
  padding: 2px 4px;
}

hr {
  margin: 22px 33%;
  border: 0;
  border-top: 2px solid var(--gray-color, gray);
}
