@charset "UTF-8";
@import "https://cdn.jsdelivr.net/npm/sanitize.css";
@import "https://cdn.jsdelivr.net/npm/highlight.js@11.6.0/styles/github.css";

/* highlight.js/styles/github-dark.css */
@media (prefers-color-scheme: dark) {
  .hljs {
    color: #c9d1d9;
    background: #0d1117;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #ff7b72;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #d2a8ff;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #79c0ff;
  }
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #a5d6ff;
  }
  .hljs-built_in,
  .hljs-symbol {
    color: #ffa657;
  }
  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #8b949e;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #7ee787;
  }
  .hljs-subst {
    color: #c9d1d9;
  }
  .hljs-section {
    color: #1f6feb;
    font-weight: 700;
  }
  .hljs-bullet {
    color: #f2cc60;
  }
  .hljs-emphasis {
    color: #c9d1d9;
    font-style: italic;
  }
  .hljs-strong {
    color: #c9d1d9;
    font-weight: 700;
  }
  .hljs-addition {
    color: #aff5b4;
    background-color: #033a16;
  }
  .hljs-deletion {
    color: #ffdcd7;
    background-color: #67060c;
  }
}

:root {
  --title-color: #0d1117;
  --link-color: #000;
  --text-color: rgba(0, 0, 0, 0.8);
  --bg-color: #fff;
  --gray-color: #79828b;
  --pre-color: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-color: #dddddc;
    --link-color: #f3f4f6;
    --text-color: rgba(255, 255, 255, 0.8);
    --bg-color: #0d1117;
    --gray-color: #747d86;
    --pre-color: rgba(255, 255, 255, 0.05);
  }
}

/* Fix chinese quotes “”‘’ */
@font-face {
  font-family: "Chinese Quotes";
  src: local("PingFang SC Regular"), local("PingFang SC"), local("SimHei"),
    local("Source Han Sans SC");
  unicode-range: U+2018, U+2019, U+201C, U+201D;
}

html {
  font-family: "Chinese Quotes", "Inter var", "Inter", ui-sans-serif, system-ui,
    "Segoe UI", "Roboto", "Ubuntu", "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, "Cascadia Mono", "Consolas", "Roboto Mono",
    "Ubuntu Monospace", "Noto Mono", monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 90%;
}

html,
body {
  height: 100%;
}

body {
  margin: auto;
  padding: 2ch;
  max-width: 70ch;
  color: var(--text-color, black);
  background-color: var(--bg-color, white);
  line-height: 1.58;
}

@property --offset {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

a {
  color: var(--link-color, black);
  text-decoration: underline solid;
  text-decoration-color: var(--pre-color, silver);
  text-decoration-thickness: 2px;
  text-underline-offset: var(--offset, 0.1em);
  transition: text-decoration-color 0.2s, --offset 0.2s;
}

a:hover {
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration-color: var(--link-color, black);
  --offset: 0.2em;
}

@supports not (background: paint(something)) {
  a {
    transition: text-decoration-color 0.2s, text-underline-offset 0.2s;
  }
  a:hover,
  a:focus {
    text-underline-offset: 0.2em;
  }
}

h1,
h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin: 21px 0 12px;
  color: var(--title-color, black);
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 2rem 0 1rem;
  color: var(--title-color, black);
}

h4 {
  font-size: 20px;
  line-height: 22px;
  margin: 1.6rem 0 0.6rem;
  color: var(--title-color, black);
}

:is(h2, h3, h4, a[href^="p/"]) > code::before,
:is(h2, h3, h4, a[href^="p/"]) > code::after {
  content: "`";
}
:is(h2, h3, h4, a[href^="p/"]) > code {
  background: var(--pre-color, silver);
}

footer {
  padding: 2ch 0;
  color: var(--gray-color);
  position: sticky;
  top: 100vh;
  font-variant-numeric: tabular-nums;
}

footer a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: var(--gray-color, gray);
  margin-bottom: 14px;
  font-variant-numeric: tabular-nums;
}

p {
  margin: 0 0 9px;
  line-height: 1.75;
}

blockquote {
  margin: 0 0 14px;
  padding: 1ch 2ch;
  border-radius: 0.5em;
  background-color: var(--pre-color, silver);
  font-size: 90%;
}

blockquote > *:last-child {
  margin: 0;
}

pre {
  margin: 1em -16px;
  background-color: var(--pre-color, silver);
  overflow: visible;
}

@media (max-width: 66ch) {
  pre {
    overflow-x: auto;
  }
}

pre code {
  display: block;
  padding: 1ch 16px;
}

pre[class*="language-"],
code[class*="language-"] {
  color: #24292e;
  background: #fff;
}
pre:has([class*="language-"]) {
  color: #24292e;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  pre[class*="language-"],
  code[class*="language-"] {
    color: #c9d1d9;
    background: #0d1117;
  }
  pre:has([class*="language-"]) {
    color: #c9d1d9;
    background: #0d1117;
  }
}

p > code[class*="language-"] {
  padding: 2px 4px;
}

ins {
  text-decoration: none;
  border-bottom: 1px solid;
}

hr {
  margin: 22px 33%;
  border: 0;
  border-top: 1px solid currentColor;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

th,
td {
  padding: 6px 13px;
}

.footnotes {
  font-size: 12px;
  color: var(--gray-color);
  border-top: 1px solid currentColor;
}
.footnotes ol {
  padding-left: 16px;
}
.footnotes li {
  position: relative;
}
.footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid var(--text-color);
  border-radius: 6px;
}
.footnotes li:target {
  color: var(--text-color);
}
.footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

/* modifiers */
.half-shrink-left {
  margin-left: -0.5em;
}

.half-shrink-right {
  margin-right: -0.5em;
}

/* whatever */
.home p > a {
  color: inherit;
}

.toys {
}

.toys a {
  color: inherit;
  font-size: 1.125rem;
}

.toys dt:not(:first-child) {
  padding-top: 0.8rem;
}

.toys dd {
  color: var(--gray-color);
  font-size: 0.875rem;
  margin-inline-start: 0;
}
